<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b124c9d0-d6ec-41ac-b9b6-adf6261c73f5/resourcegroups/HiddenVillaServer20210913231813ResourceGroup/providers/Microsoft.Web/sites/HiddenVillaApi20210914000713</ResourceId>
    <ResourceGroup>HiddenVillaServer20210913231813ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b124c9d0-d6ec-41ac-b9b6-adf6261c73f5/resourceGroups/HiddenVillaServer20210913231813ResourceGroup/providers/Microsoft.ApiManagement/service/HiddenVillaAPIManagerTarxosTest/apis/hidden-villa</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hiddenvillaapi20210914000713.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b4817927-ef23-4a51-8979-cf547a50a960</ProjectGuid>
    <MSDeployServiceURL>hiddenvillaapi20210914000713.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HiddenVillaApi20210914000713</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$HiddenVillaApi20210914000713</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>