@using HiddenVilla_Server.Model
<div class="bg-light border p-2 col-5 offset-1" @onclick="args => OnSelect(args,Amenity.Name)">
    <h4 class="text-secondary">Amenities - @Amenity.Id</h4>

    @Amenity.Name<br>
    @Amenity.Description <br>
    
    RF from Parent - @First @Second
</div>


@code {
    [Parameter]
    public Amenity Amenity { get; set; }
    
    [Parameter]
    public EventCallback<string> OnAmenitySelected { get; set; }
    
    [Parameter]
    public RenderFragment First { get; set; }
    [Parameter]
    public RenderFragment Second { get; set; }

    private async Task OnSelect(MouseEventArgs e, string name)
    {
        await OnAmenitySelected.InvokeAsync(name);
    }

}